# Default ignored files
/shelf/
/workspace.xml
/csv-plugin.xml
# Datasource local storage ignored files
/../../../../../../:\Users\pwnbit\IdeaProjects\Magic Home\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
